In [65]:
import pandas as pd
import numpy as np

In [66]:
gun_load = "./csv/gun_violence.csv"
gun_data = pd.read_csv(gun_load)

In [67]:
gun_df = gun_data

In [68]:
gun_incident = gun_df["incident_id"]
gun_date = gun_df["date"]
gun_state = gun_df["state"]
gun_city_or_county = gun_df["city_or_county"]
gun_killed = gun_df["n_killed"]
gun_injured = gun_df["n_injured"]
gun_stolen = gun_df["gun_stolen"]
gun_type = gun_df["gun_type"]
gun_involved = gun_df["n_guns_involved"]
gun_gender = gun_df["participant_gender"]
gun_age = gun_df["participant_age"]


gun_data_df = pd.DataFrame({
    
    "Incident ID": gun_incident,
    "Date": gun_date,
    "State": gun_state,
    "City or County": gun_city_or_county,
    "Killed": gun_killed,
    "Injured": gun_injured   
})


gun1_df = gun_data_df[["Incident ID", "Date", "State", "City or County", "Killed", "Injured"]]
gun1_df.head()

   Incident ID    Date           State City or County  Killed  Injured
0       461105  1/1/13    Pennsylvania     Mckeesport       0        4
1       460726  1/1/13      California      Hawthorne       1        3
2       478855  1/1/13            Ohio         Lorain       1        3
3       478925  1/5/13        Colorado         Aurora       4        0
4       478959  1/7/13  North Carolina     Greensboro       2        2

In [69]:
gun1_df.set_index("State", inplace=True)

In [70]:
gun1_df.Date = pd.to_datetime(gun1_df.Date)

In [73]:
gun2_df = gun1_df[(gun1_df['Date'] >= '2015-01-01') & (gun1_df['Date'] <= '2015-12-31')]
gun2_df

,Incident ID,Date,City or County,Killed,Injured
State,,,,,
Oklahoma,274168,2015-01-01,Tulsa,0,2
Louisiana,276211,2015-01-01,Labadieville,1,0
Mississippi,272302,2015-01-01,Hattiesburg,0,0
Alabama,272482,2015-01-01,Bessemer,0,2
Illinois,272487,2015-01-01,Chicago,0,1
Illinois,272493,2015-01-01,Chicago,0,1
Illinois,272490,2015-01-01,Chicago,0,2
New Jersey,273244,2015-01-01,Plainfield,1,0
Illinois,273893,2015-01-01,Chicago,0,1
Indiana,272702,2015-01-01,Lafayette,0,0
Illinois,273896,2015-01-01,Chicago,0,2
Ohio,271939,2015-01-01,Cleveland,0,0
Tennessee,272502,2015-01-01,Chattanooga,0,1
Nebraska,272925,2015-01-01,Omaha,0,0
North Carolina,272091,2015-01-01,Ash,0,0
North Carolina,272097,2015-01-01,Charlotte,1,2
New York,275120,2015-01-01,Jamestown,0,0
Maryland,273564,2015-01-01,Baltimore,0,0
Illinois,798667,2015-01-01,Peoria,0,0
North Carolina,272109,2015-01-01,Charlotte,0,1
Mississippi,272111,2015-01-01,Columbus,1,0
Massachusetts,298373,2015-01-01,Richmond,0,0
Nevada,271951,2015-01-01,Las Vegas,1,0
District of Columbia,272865,2015-01-01,Washington,0,1
Florida,272477,2015-01-01,Orlando,0,2
District of Columbia,272873,2015-01-01,Washington,0,1
California,271979,2015-01-01,Grand Terrace,1,2
Oklahoma,272467,2015-01-01,Tulsa,0,2
Illinois,271947,2015-01-01,Chicago,0,1
South Dakota,272977,2015-01-01,Sioux Falls,0,0
...,...,...,...,...,...
Pennsylvania,477262,2015-12-31,Darby (Collingdale),0,1
Georgia,477266,2015-12-31,Brunswick,0,0
Mississippi,476083,2015-12-31,Rolling Fork,1,0
Georgia,479912,2015-12-31,Statesboro,0,0
New York,476607,2015-12-31,Malverne,0,1
California,478425,2015-12-31,Wasco,1,0
California,477311,2015-12-31,Santa Ana,0,1
New York,476619,2015-12-31,Rochester,0,1
New Jersey,476529,2015-12-31,Jersey City,0,0
Illinois,476527,2015-12-31,Chicago,0,1
Illinois,476519,2015-12-31,Chicago,0,1
Illinois,476503,2015-12-31,Chicago,0,2
Iowa,476886,2015-12-31,Des Moines,0,1
Washington,476809,2015-12-31,Woodland,1,0
California,478675,2015-12-31,Modesto,0,0
Pennsylvania,476299,2015-12-31,Philadelphia,0,2
North Carolina,477545,2015-12-31,Pasquotank (county),1,0
Kansas,484916,2015-12-31,Salina,0,0
Missouri,483306,2015-12-31,Kansas City,0,1
Ohio,476445,2015-12-31,Zanesville,0,1
Tennessee,476499,2015-12-31,Chattanooga,0,1
Massachusetts,476351,2015-12-31,New Bedford,1,0
Missouri,476984,2015-12-31,Kansas City,0,0
North Carolina,476987,2015-12-31,Durham,0,2
New York,480589,2015-12-31,New York (Manhattan),0,1
Tennessee,476490,2015-12-31,Jackson,0,1
New Jersey,476492,2015-12-31,Newark,1,0
Florida,476502,2015-12-31,Fort Myers,0,0
North Carolina,476966,2015-12-31,Charlotte,0,2
California,476486,2015-12-31,Burbank,0,1

In [78]:
gun2_df.sort_values("State").head()

         Incident ID       Date   City or County  Killed  Injured
State
Alabama       293044 2015-02-12     Center Point       0        1
Alabama       399046 2015-08-21  Dekalb (county)       0        0
Alabama       439229 2015-10-27           Mobile       1        0
Alabama       439211 2015-10-05         Bessemer       0        0
Alabama       316792 2015-04-01         Homewood       0        0

In [77]:
gun2_df.to_csv("./csv/gun_df.csv", header=True, index=True)