In [17]:
import pandas as pd
import numpy as np

In [18]:
gun_load = "./csv/gun_violence.csv"
gun_data = pd.read_csv(gun_load)

In [20]:
gun_df = gun_data

In [22]:
gun_incident = gun_df["incident_id"]
gun_date = gun_df["date"]
gun_state = gun_df["state"]
gun_city_or_county = gun_df["city_or_county"]
gun_killed = gun_df["n_killed"]
gun_injured = gun_df["n_injured"]
gun_stolen = gun_df["gun_stolen"]
gun_type = gun_df["gun_type"]
gun_involved = gun_df["n_guns_involved"]
gun_gender = gun_df["participant_gender"]
gun_age = gun_df["participant_age"]


gun_data_df = pd.DataFrame({
    
    "Incident ID": gun_incident,
    "Date": gun_date,
    "State": gun_state,
    "City or County": gun_city_or_county,
    "Killed": gun_killed,
    "Injured": gun_injured,
    "Stolen": gun_stolen,
    "Type": gun_type,
    "Involved": gun_involved,
    "Gender": gun_gender,
    "Age": gun_age    
})


gun1_df = gun_data_df[["Incident ID", "Date", "State", "City or County", "Killed", "Injured", "Stolen", "Type", "Involved", "Gender"]]
gun1_df

,Incident ID,Date,State,City or County,Killed,Injured,Stolen,Type,Involved,Gender
0,461105,1/1/13,Pennsylvania,Mckeesport,0,4,NaN,NaN,NaN,0::Male||1::Male||3::Male||4::Female
1,460726,1/1/13,California,Hawthorne,1,3,NaN,NaN,NaN,0::Male
2,478855,1/1/13,Ohio,Lorain,1,3,0::Unknown||1::Unknown,0::Unknown||1::Unknown,2.0,0::Male||1::Male||2::Male||3::Male||4::Male
3,478925,1/5/13,Colorado,Aurora,4,0,NaN,NaN,NaN,0::Female||1::Male||2::Male||3::Male
4,478959,1/7/13,North Carolina,Greensboro,2,2,0::Unknown||1::Unknown,0::Handgun||1::Handgun,2.0,0::Female||1::Male||2::Male||3::Female
5,478948,1/7/13,Oklahoma,Tulsa,4,0,NaN,NaN,NaN,0::Female||1::Female||2::Female||3::Female||4:...
6,479363,1/19/13,New Mexico,Albuquerque,5,0,0::Unknown||1::Unknown,0::22 LR||1::223 Rem [AR-15],2.0,0::Male||1::Female||2::Male||3::Female||4::Fem...
7,479374,1/21/13,Louisiana,New Orleans,0,5,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male
8,479389,1/21/13,California,Brentwood,0,4,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male
9,492151,1/23/13,Maryland,Baltimore,1,6,NaN,NaN,NaN,0::Male
10,491674,1/23/13,Tennessee,Chattanooga,1,3,0::Unknown,0::Unknown,1.0,0::Male||1::Male||2::Male||3::Male
11,479413,1/25/13,Missouri,Saint Louis,1,3,0::Unknown,0::Unknown,1.0,0::Male
12,479561,1/26/13,Louisiana,Charenton,2,3,0::Unknown,0::Shotgun,1.0,0::Male||1::Male||2::Male||3::Male||4::Male
13,479554,1/26/13,District of Columbia,Washington,0,5,0::Unknown,0::Handgun,1.0,0::Female||1::Female||2::Male||3::Male||4::Mal...
14,479460,1/26/13,Ohio,Springfield,1,3,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male
15,479573,2/2/13,Tennessee,Memphis,0,5,0::Unknown,0::Handgun,1.0,0::Female||1::Female||2::Female||3::Female||4:...
16,479580,2/3/13,California,Yuba (county),1,3,0::Unknown,0::9mm,1.0,0::Male||1::Male||2::Female||4::Male||5::Male|...
17,479592,2/7/13,Illinois,Chicago,0,4,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male
18,479603,2/9/13,Louisiana,New Orleans,0,4,0::Unknown,0::Handgun,1.0,0::Male||1::Female||2::Female||3::Male||4::Mal...
19,480311,2/11/13,California,Vallejo,1,4,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Female||4::Female
20,480327,2/11/13,Delaware,Wilmington,3,2,0::Unknown,0::45 Auto,1.0,0::Female||1::Female||2::Male||3::Male||4::Male
21,480344,2/12/13,Utah,Midvale,4,1,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Female||4::Male|...
22,480358,2/19/13,California,Orange (county),4,3,0::Unknown,0::12 gauge,1.0,0::Female||4::Male||5::Male||6::Male
23,480383,2/21/13,Oklahoma,Tulsa,1,3,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Female||4::Male
24,480401,2/22/13,Michigan,Grand Rapids,0,4,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Female
25,480407,2/23/13,California,Lancaster,0,4,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male
26,480443,2/24/13,Georgia,Macon,0,8,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male||5...
27,481186,3/2/13,Louisiana,Shreveport,1,3,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male||5...
28,481198,3/3/13,Georgia,Moultrie,2,2,0::Unknown,0::7.62 [AK-47],1.0,0::Male||1::Male||2::Female||3::Male||4::Male|...
29,481208,3/3/13,Michigan,Saginaw (county),0,4,NaN,NaN,NaN,0::Male||1::Male||2::Female||3::Female
...,...,...,...,...,...,...,...,...,...,...
239647,1081936,3/31/18,Maine,Bangor,0,0,0::Unknown,0::Unknown,1.0,0::Male
239648,1081946,3/31/18,District of Columbia,Washington,0,0,0::Unknown,0::Unknown,1.0,NaN
239649,1081949,3/31/18,Nevada,Las Vegas,0,0,0::Unknown,0::Unknown,1.0,0::Male
239650,1082266,3/31/18,California,Palmdale,1,0,0::Unknown,0::Unknown,1.0,0::Male||1::Male
239651,1082483,3/31/18,Texas,Wichita Falls,0,1,0::Unknown,0::Unknown,1.0,0::Male||1::Male
239652,1082486,3/31/18,Texas,Dallas,0,1,0::Unknown,0::Unknown,1.0,1::Male
239653,1083121,3/31/18,Nevada,Reno,1,0,0::Unknown,0::Unknown,1.0,0::Male
239654,1081947,3/31/18,Nevada,Reno,1,0,0::Unknown,0::Unknown,1.0,0::Male
239655,1082089,3/31/18,California,San Diego,0,0,0::Unknown,0::Unknown,1.0,0::Male
239656,1081901,3/31/18,New York,Rochester,1,0,0::Unknown,0::Unknown,1.0,0::Female
239657,1082394,3/31/18,California,Shafter,0,0,0::Unknown,0::Unknown,1.0,0::Male
239658,1082392,3/31/18,California,Oakland,1,0,0::Unknown,0::Unknown,1.0,0::Male
239659,1082057,3/31/18,Florida,Orlando,0,3,0::Unknown,0::Unknown,1.0,NaN
239660,1082091,3/31/18,California,Stockton,2,0,0::Unknown,0::Unknown,1.0,0::Male||1::Male
239661,1081719,3/31/18,North Carolina,Kings Mountain,0,4,0::Unknown,0::Unknown,1.0,0::Male||1::Male||2::Male||3::Male
239662,1082388,3/31/18,Minnesota,Saint Paul,0,2,0::Unknown,0::Unknown,1.0,0::Male||1::Male
239663,1082197,3/31/18,Oklahoma,Guthrie,1,0,0::Unknown,0::Unknown,1.0,0::Male
239664,1082023,3/31/18,Missouri,Festus,0,1,0::Unknown,0::Unknown,1.0,0::Female||1::Male
239665,1082226,3/31/18,Missouri,Saint Clair,0,1,0::Unknown,0::Handgun,1.0,0::Male||1::Male
239666,1081894,3/31/18,Missouri,Saint Louis,1,0,0::Unknown,0::Unknown,1.0,0::Male||1::Male
239667,1082234,3/31/18,Tennessee,Memphis,0,1,0::Unknown,0::Unknown,1.0,0::Male||1::Female
239668,1081742,3/31/18,Michigan,Detroit,0,1,0::Unknown,0::Unknown,1.0,0::Male
239669,1082990,3/31/18,Wisconsin,Madison,0,0,0::Unknown,0::45 Auto,1.0,NaN
239670,1081752,3/31/18,Illinois,Chicago,0,1,0::Unknown,0::Unknown,1.0,0::Male||1::Male
239671,1082061,3/31/18,Washington,Spokane (Spokane Valley),0,0,0::Unknown,0::Unknown,1.0,0::Male
239672,1083142,3/31/18,Louisiana,Rayne,0,0,0::Unknown,0::Unknown,1.0,0::Female
239673,1083139,3/31/18,Louisiana,Natchitoches,1,0,0::Unknown,0::Unknown,1.0,0::Male||1::Male
239674,1083151,3/31/18,Louisiana,Gretna,0,1,0::Unknown,0::Unknown,1.0,0::Male
239675,1082514,3/31/18,Texas,Houston,1,0,0::Unknown,0::Unknown,1.0,0::Male
239676,1081940,3/31/18,Maine,Norridgewock,2,0,0::Unknown||1::Unknown,0::Handgun||1::Shotgun,2.0,0::Female||1::Male