In [1]:
import pandas as pd
import numpy as np

In [2]:
gun_load = "./Resources/gun_violence.csv"
gun_data = pd.read_csv(gun_load)

In [3]:
gun_df = gun_data

In [4]:
gun_incident = gun_df["incident_id"]
gun_date = gun_df["date"]
gun_state = gun_df["state"]
gun_city_or_county = gun_df["city_or_county"]
gun_killed = gun_df["n_killed"]
gun_injured = gun_df["n_injured"]
gun_stolen = gun_df["gun_stolen"]
gun_type = gun_df["gun_type"]
gun_involved = gun_df["n_guns_involved"]
gun_gender = gun_df["participant_gender"]
gun_age = gun_df["participant_age"]


gun_data_df = pd.DataFrame({
    
    "Incident ID": gun_incident,
    "Date": gun_date,
    "State": gun_state,
    "City or County": gun_city_or_county,
    "Killed": gun_killed,
    "Injured": gun_injured   
})


gun1_df = gun_data_df[["Incident ID", "Date", "State", "City or County", "Killed", "Injured"]]
gun1_df.head()

   Incident ID    Date           State City or County  Killed  Injured
0       461105  1/1/13    Pennsylvania     Mckeesport       0        4
1       460726  1/1/13      California      Hawthorne       1        3
2       478855  1/1/13            Ohio         Lorain       1        3
3       478925  1/5/13        Colorado         Aurora       4        0
4       478959  1/7/13  North Carolina     Greensboro       2        2

In [5]:
gun1_df.set_index("State", inplace=True)

In [6]:
gun1_df.Date = pd.to_datetime(gun1_df.Date)

In [7]:
gun2_df = gun1_df[(gun1_df['Date'] >= '2015-01-01') & (gun1_df['Date'] <= '2015-12-31')]
gun2_df.head()

             Incident ID       Date City or County  Killed  Injured
State
Oklahoma          274168 2015-01-01          Tulsa       0        2
Louisiana         276211 2015-01-01   Labadieville       1        0
Mississippi       272302 2015-01-01    Hattiesburg       0        0
Alabama           272482 2015-01-01       Bessemer       0        2
Illinois          272487 2015-01-01        Chicago       0        1

In [8]:
gun2_df = gun2_df.sort_values("Killed").head(1000)

In [9]:
# gun2_df.to_csv("./Resources/gun_df.csv", header=True, index=True)

In [10]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [11]:
engine = create_engine("sqlite:///Resources/state_violence.sqlite")

gun2_df.to_sql('gun_incidents', engine, if_exists='replace', index = True)